/* Whole Page */
html {
    min-height: 100%;
    scroll-padding-top: 74px;
}

body {
    min-height: 100% !important;
    margin: 0 !important;
    background-repeat: no-repeat !important;
}

/* Navbar and Main Body height */
.navbar {
    min-height: 80px !important;
}

.main-wrapper {
    min-height: calc(100vh - 80px)
}

/* Backgrounds */
.bg-main1 {
    background: rgba(185,69,97,1);
    background: linear-gradient(175deg, rgba(41,23,79,1) 0%, rgba(119,38,96,1) 33%, rgba(185,69,97,1) 67%, rgba(232,119,88,1) 100%);
}

.bg-main2 {
    background: rgba(5,131,221,1);
    background: linear-gradient(185deg, #0583dd 0%, #00ff88 100%);
}

.bg-container {
    background-color: #180b33;
    background: linear-gradient(45deg, rgba(46,31,73,1) 0%, rgba(24,11,51,1) 100%);
}

.bg-navbar {
    background-color: #0e0521;
}

/* Fonts */
.font-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.6rem !important;
    letter-spacing: 0.1rem;
    font-weight: 800 !important;

    background: linear-gradient(135deg, rgba(88,4,255,1) 0%, rgba(159,3,255,1) 25%, rgba(218,3,255,1) 50%, rgba(159,3,255,1) 75%, rgba(88,4,255,1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;

    -webkit-animation: movegradient 4s linear infinite;
    -moz-animation: movegradient 4s linear infinite;
    animation: movegradient 4s linear infinite;
}

/* Title Font Animation */
@-webkit-keyframes movegradient {
    to {
        background-position: 200% center;
    }
}

@-moz-keyframes movegradient {
    to {
        background-position: 200% center;
    }
}

@keyframes movegradient {
    to {
        background-position: 200% center;
    }
}

/* More Fonts */
.font-nav {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}

.font-head {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.6rem !important;
    font-weight: 550 !important;
}

.font-body {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.1rem;
}

/* Custom Width Class */
.w-65 {
    width: 65% !important;
}

/* Links */
/* Code for text gradient colour taken from https://fossheim.io/writing/posts/css-text-gradient/, last accessed on 22/01/23  */
a.gradient-link {
    position: relative;
    color: white;
    background: linear-gradient(100deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(0,142,255,1) 50%, rgba(159,3,255,1) 75%, rgba(218,3,255,1) 100%);
    background-size: 400% 100%;
    background-position: top left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    transition: ease 0.3s;
}

/* Code for text underline gradient colour taken from https://www.amitmerchant.com/gradient-text-underlines-using-css/, last accessed on 22/01/23 */
.font-body a.gradient-link::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 1.5px;
    border-radius: 4px;
    background: linear-gradient(100deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(0,142,255,1) 50%, rgba(159,3,255,1) 75%, rgba(218,3,255,1) 100%);
    background-size: 400% 100%;
    background-position: top left;
    transition: ease 0.3s;
}
  
a.gradient-link:hover {
    background-position: top left 80%;
}

.font-body a.gradient-link:hover::before {
    background-position: top left 80%;
}


/* Links in Navbar */
.nav-item a.gradient-link:not(.active) {
    position: relative;
    color: rgb(153, 153, 153);
    background: linear-gradient(100deg, rgba(153,153,153,1) 0%, rgba(153,153,153,1) 25%, rgba(0,142,255,1) 50%, rgba(159,3,255,1) 75%, rgba(218,3,255,1) 100%) !important;
    background-size: 400% 100% !important;
    background-position: top left;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    transition: ease 0.3s;
}

.nav-item a.gradient-link:not(.active):hover {
    background-position: top left 80% !important;
}

/* Social Media Icons */
.icon {
    font-size: 1.5rem !important;
}


/* Square Image Container */
.square {
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: default;
    transition: transform 0.2s;
}

.square:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Image Links */
div[id^="img"] {
    background-image: url("matterhorn.jpg");
}

/* #img1 {
    background-image: url("matterhorn.jpg");
}

#img2 {
    background-image: url("matterhorn.jpg");
}

#img3 {
    background-image: url("matterhorn.jpg");
} */