html {
    min-height: 100%;
}

body {
    min-height: 100% !important;
    margin: 0 !important;
    background-repeat: no-repeat !important;
    
}

.bg-main {
    background: rgb(41,23,79);
    background: linear-gradient(170deg, rgba(41,23,79,1) 0%, rgba(119,38,96,1) 20%, rgba(185,69,97,1) 40%, rgba(232,119,88,1) 60%, rgba(254,181,85,1) 80%, rgba(249,248,113,1) 100%);}

.bg-container {
    background-color: #180b33;
}

.bg-navbar {
    background-color: #0e0521;
}

.font-head {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600 !important;
}

.font-body {
    font-family: "Roboto Slab", sans-serif;
}

span.h1 {
    font-size: 1.5rem;
}

.container h2 {
    font-size: 1.7rem;
}

.container p {
    font-size: 1.1rem;
}

.w-65 {
    width: 65% !important;
}


p a {
    position: relative;
    color: white;
    background: linear-gradient(100deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(0,142,255,1) 50%, rgba(159,3,255,1) 75%, rgba(218,3,255,1) 100%);
    background-size: 400% 100%;
    background-position: top left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    transition: ease 0.3s;
}

p a::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 1.5px;
    border-radius: 4px;
    background: linear-gradient(100deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(0,142,255,1) 50%, rgba(159,3,255,1) 75%, rgba(218,3,255,1) 100%);
    background-size: 400% 100%;
    background-position: top left;
    transition: ease 0.3s;
}
  

p a:hover {
    background-position: top left 80%;
}

p a:hover::before {
    background-position: top left 80%;
}

p i {
    font-size: 1.5rem;
}

.nav-link {
    transition: text-decoration 2s;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #8D33EF;
}

.nav-link.active {
    text-decoration: underline;
    text-decoration-color: #8D33EF;
}
