/* Whole Page */
html {
    min-height: 100%;
    scroll-padding-top: 74px;
}

body {
    min-height: 100% !important;
    margin: 0 !important;
    background-repeat: no-repeat !important;
}

/* Backgrounds */
.bg-navbar {
    background-color: #0e0521;
}

/* Fonts */
.font-title {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.6rem !important;
    letter-spacing: 0.1rem;
    font-weight: 800 !important;

    background: linear-gradient(135deg, rgba(88,4,255,1) 0%, rgba(159,3,255,1) 25%, rgba(218,3,255,1) 50%, rgba(159,3,255,1) 75%, rgba(88,4,255,1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;

    -webkit-animation: movegradient 4s linear infinite;
    -moz-animation: movegradient 4s linear infinite;
    animation: movegradient 4s linear infinite;
}

/* Title Font Animation */
@-webkit-keyframes movegradient {
    to {
        background-position: 200% center;
    }
}

@-moz-keyframes movegradient {
    to {
        background-position: 200% center;
    }
}

@keyframes movegradient {
    to {
        background-position: 200% center;
    }
}

/* More Fonts */
.font-body {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.1rem;
}